<h1>Purchase Order #<%=@purchase_order.id%></h1>
<%Type.all.each do |type|%>
    <%=link_to "Add #{type.name}", type_path(type, purchase_order: @purchase_order.id)%><br>
<%end%>

<%if @purchase_order.line_items != []%>
    <p>Line Items Here</p>
    <%=@purchase_order.line_items.first.line_total%>
<%end%>