<h1>Items</h1>

<table class="item-table">
    <thead>
        <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Edit</th>
        </tr>
    </thead>
    <body>
    <%@items.each do |item|%>
        <tr>
        <td><%=item.type.name%></td>
        <td><%=item.color + " " + item.description%></td>
        <td><%=link_to "Edit", edit_item_path(item)%></td>
        <%end%>
        </tr>
    </body>
</table>