// Place all the styles related to the PurchaseOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.po-table {
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: inline-table;
  }
  
  .po-table thead tr {
    background-color: #ffc562;
    text-align: left;
    font-weight: bold;
  }
  
  .po-table th,
  .po-table td {
    padding: 4px 10px;
  }
  
  .po-table tbody tr {
    border-bottom: 1px solid lightgray;
  }
  
  .po-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .po-table tbody tr:last-of-type {
    border-bottom: 5px solid rgb(65, 130, 187);
  }